* { 
    user-select: none;
}

body {
    font-family: "Urbanist", sans-serif;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}