@import "tailwindcss";

@theme {
  --color-primary: #F2D022;
  --color-background: #FFF;
  --color-white: #FFFFFF;
  --color-black: #262e3b;
  --color-accent: #F2E085;
  --color-text: #262e3b;
  --color-muted: #8C8C8C;
  --color-on: #43D984;
  --color-danger: #F20F22;
  --color-notification: #F2D022;
  --color-border: #e8e4e4;
}